@import url('variables.less');

.button {
    color: #FFF !important;
    padding: 8px 12px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.accept-button {
    background-color: @acceptButtonColor;
}

.accept-button:hover {
    background-image: -o-linear-gradient(bottom, #053A94 12%, #0754DA 76%);
    background-image: -moz-linear-gradient(bottom, #053A94 12%, #0754DA 76%);
    background-image: -webkit-linear-gradient(bottom, #053A94 12%, #0754DA 76%);
    background-image: -ms-linear-gradient(bottom, #053A94 12%, #0754DA 76%);
    background-image: linear-gradient(bottom, #053A94 12%, #0754DA 76%);
    -webkit-box-shadow: 0 1px 1px #968E8E;
    -moz-box-shadow: 0 1px 1px #968E8E;
    -o-box-shadow: 0 1px 1px #968E8E;
    -ms-box-shadow: 0 1px 1px #968E8E;
    box-shadow: 0 1px 1px #968E8E;
}

.cancel-button {
    background-color: @cancelButtonColor;
}

.cancel-button:hover {
    background-image: -o-linear-gradient(bottom, #5C5C5C 16%, #888282 76%);
    background-image: -moz-linear-gradient(bottom, #5C5C5C 16%, #888282 76%);
    background-image: -webkit-linear-gradient(bottom, #5C5C5C 16%, #888282 76%);
    background-image: -ms-linear-gradient(bottom, #5C5C5C 16%, #888282 76%);
    background-image: linear-gradient(bottom, #5C5C5C 16%, #888282 76%);
}

.danger-button {
    background-color: @dangerButtonColor;
}

.danger-button:hover {
    background-image: -o-linear-gradient(bottom, #AD0C14 0%, #CF000A 51%);
    background-image: -moz-linear-gradient(bottom, #AD0C14 0%, #CF000A 51%);
    background-image: -webkit-linear-gradient(bottom, #AD0C14 0%, #CF000A 51%);
    background-image: -ms-linear-gradient(bottom, #AD0C14 0%, #CF000A 51%);
    background-image: linear-gradient(bottom, #AD0C14 0%, #CF000A 51%);
}

fieldset {
    background: @header-background-color;
    border: 1px solid @boxBorderColor;
    padding: 20px;
    margin-bottom: 10px;
}

textarea {
    .resizable(none);
}

input[type="text"], select, textarea, input[type="password"],input[type="email"] {
    display: block;
    border: @textareaBorder;
    font-family: @general-font-family;
    background: @textareaBackgroundColor;
    .textareaBackground;
}
