@header-background-color: #FAFAFA url('http://g.virbcdn.com/_f/files/e6/FileItem-195901-swl_bg_white.jpg');
@body-background-color: white; /* whiteSmoke url('http://dribbble.com/images/noise-f1.gif'); */ 
@general-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@general-font-size: 14px;
@p-letter-color: #00008B;

/* GENERAL */

body {
    background: @body-background-color;
    font-family: @general-font-family;
    font-size: @general-font-size;
    margin: 0;
}

.picmnt-title {
    font-family: "Nimbus Roman No9 L", Sans, serif;
}

.p-letter {
    color: @p-letter-color !important;
}

/* HEADER */

header {
    height: 45px;
    width: 100%;
    background: @header-background-color;
    box-shadow: 1px 1px 3px black;
}

header .picmnt-title {
    font-size: 23px;
    font-weight: bold;
}

header .picmnt-title a {
    text-decoration: none !important;
} 

header .p-letter {
    font-size: 33px;
}

header .icmnt-word {
    letter-spacing: -2px;
    color: #5E5E5E;
}

header li {
    margin-top: 16px;
}

header  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header ul li {
    display: inline;
    float:right;
    font-weight: bold;
}

header ul li a{
    text-decoration: none;
    color: #5E5E5E;
}

header ul li a:hover{
    text-decoration: none;
    color: @p-letter-color;
}