/////////////////////////////////
//       header
/////////////////////////////////

header {
    height: @headerHeight;
    width: 100%;
    background: @header-background-color;
    -webkit-box-shadow: 1px 1px 10px gray;
    -o-box-shadow: 1px 1px 10px gray;
    -moz-box-shadow: 1px 1px 10px gray;
    box-shadow: 1px 1px 10px gray;
}

.picmnt-title {
    font-size: @headerTitleSize;
    font-weight: bold;
}

.p-letter {
    font-size: 33px;
    font-size: @headerTitleSize * 1.4;
}

.icmnt-word {
    letter-spacing: -2px;
    color: @darkGrey;
}

/* .menu li { */
/*     margin-left: 20px; */
/*     padding-left: 16px; */
/* } */

/* .menu  ul { */
/*     list-style-type: none; */
/* } */

/* .menu ul li { */
/*     display: inline; */
/*     font-weight: bold; */
/* } */

/* .menu { */
/*     text-align: right; */
/* } */



/////////////////////////////////
//       updload menu
/////////////////////////////////

/* .upload { */
/*     padding-left: 20px; */
/* } */

/* .upload a { */
/*     padding-left: 3px; */
/* } */

/* header .menu li.upload { */
/*     background-position: 0px top;  */
/*     background-repeat: no-repeat; */
/*     /\* background-image: url('/bundles/sfmpicmnt/images/upload_ico_gray.png'); *\/ */
/*     margin-right: 10px; */
/*     -webkit-transition: background-image  0.3s ease-in-out; */
/*     -moz-transition: background-image 0.3s ease-in-out; */
/*     -o-transition: background-image 0.3s ease-in-out; */
/*     transition: background-image 0.3s ease-in-out; */
/* } */

/* /\* header .menu li.upload:hover { *\/ */
/* /\*     background-image: url('/bundles/sfmpicmnt/images/upload_ico_blue.png'); *\/ */
/* /\* } *\/ */

/* header .menu li.upload:hover  a { */
/*     color: @p-letter-color; */
/* } */


/////////////////////////////////
//       login menu
/////////////////////////////////

/* #login-menu li { */
/*     padding-left: 1px; */
/*     margin-left: auto; */
/* } */

