.container {
    min-height: @minHeight;
    margin-top: @containerMarginTop;
}

.navbar .inline {
    margin-top: 14px;
    font-weight: bold;
}

.subsection {
    padding-top: 30px;
}

.subsection_1 {
    padding-top: 50px;
}

.center {
    text-align: center;
}

.paginator-link {
    font-size: 20px;
    margin-top: 200px;
    font-weight: bold;
}

.paginator-link a {
    color: #FFF !important; 
    -moz-text-shadow:  0px 3px 5px  @darkGrey;
    -webkit-text-shadow:  0px 3px 5px  @darkGrey;
    -o-text-shadow:  0px 3px 5px  @darkGrey;
    -ms-text-shadow:  0px 3px 5px  @darkGrey;
    text-shadow:  0px 3px 5px  @darkGrey;
}

.right {
    float: right;
}

.left {
    float: left;
}

.hide {
    display: none;
}

.row {
    margin-top: 20px;
}

.row_1 {
    margin-top: 40px;
}

.span-small {
    padding: 15px !important;
}

.span {
    margin-left: 5px;
    margin-right: 5px;
}

.span_1 {
    margin-left: 5px;
    margin-right: 5px;
}

.span_2 {
    margin-left: 10px;
    margin-right: 10px;
}

.span-medium {
    padding-bottom: 50px !important;
}

.minor-import {
    color: @darkGrey;
    font-size: 0.9em;
}

.accent:hover {
    background: @accentColor;
}

.hidden {
    display: none;
}

.hidden-element-parent:hover .hidden-element-block {
    display: block;
}

.hidden-element-parent:hover .hidden-element-inline {
    display: inline;
}




/////// IMG BOX
.img-box {
    background: @header-background-color;
    border: 1px solid @boxBorderColor;
    margin-bottom: 10px;
    padding: 5px;
}

.inline {
    display: inline-block !important;
}