// General
@body-background-color:  white;
@p-letter-color: #00008B;
@darkGrey: #5E5E5E;
@PicmntLightGrey: #F3F3F3;

//Scaffolding
@minHeight: 800px;
@containerMarginTop: 25px; 

// Header
@header-background-color: #FAFAFA url('/bundles/sfmpicmnt/images/header-back.png');
@headerHeight: 45px;
@headerTitleSize: 23px;

// Image
@boxBorderColor: #EBEBEB;
@img-box-backcolor: #FDFDFD;

// Forms
@textareaBorder: 1px solid #D6D5D5;
@textareaBackgroundColor: #FFF;
.textareaBackground () {
    background-image: -o-linear-gradient(bottom, #FAFAFA 0%, #FFF 50%, #FFF 100%);
    background-image: -moz-linear-gradient(bottom, #FAFAFA 0%, #FFF 50%, #FFF 100%);
    background-image: -webkit-linear-gradient(bottom, #FAFAFA 0%, #FFF 50%, #FFF 100%);
    background-image: -ms-linear-gradient(bottom, #FAFAFA 0%, #FFF 50%, #FFF 100%);

    background-image: linear-gradient(bottom, #FAFAFA 0%, #FFF 50%, #FFF 100%);
}
.resizable (@value) {
    -webkit-resize: @value;
    -moz-resize: @value;
    -o-resize: @value;
    -ms-resize: @value;
    resize: @value;
}
@acceptButtonColor: #0753DA;
@cancelButtonColor: #B1B1B1;
@dangerButtonColor: #cf000a;
@defaultButtonColor: #E6E6E6;

@textareaLargeHeight: 100px;
@textareaLargeWidth:  880px;

@accentColor:  #F3F3F3;

@alertColor: #FFB2B2;

//Tyography
@baseLineHeight: 20px;
@general-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@general-font-size: 13px;

//thumbnails
@thumbSmallWidth: 50px;
@thumbSmallHeight: 50px;
@thumbMediumWidth: 100px;
@thumbMediumHeight: 100px;
@thumbLargeWidth: 270px;
@thumbLargeHeight: 270px;