h1 {
    font-weight: normal !important;
}

#image-section {
    padding-top: 30px;
}

#image-section img, #image-section canvas {
    margin-left: 20px;
    border: 10px solid white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #333;
    -webkit-box-shadow: 5px 5px 10px #333;
    -moz-box-shadow: 5px 5px 10px #333;
}

#image-title {
    margin-top: 0;
    font-size: 3em;
}

.image-extra-info {
    margin-top: -20px;
    padding-left: 2em;
}

#image-info p {
    padding-bottom: 10px;
}

#separator {
    margin: 60px auto 10px auto;
    width: 960px;
}



/* COMMENTS */

#comments-title {
    text-align: center;
}

#comment-form .textarea {
    height: 150px;
    width: 400px;
    resize: none;
}

#comments {
    margin-top: 50px;
}

#comments h3 {
    text-align: center;    
}

.comment hr {
    margin-top: 20px;
}

.comment {
    margin-top: 30px;
    margin-bottom: 30px;
}

.comment-text {
    margin-top: -10px;
    padding-left: 2em;
}

#image-comment img, #image-comment canvas {
    top: 10px;
    display: none;
    position: fixed;
    border: 10px solid white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #333;
    -webkit-box-shadow: 5px 5px 10px #333;
    -moz-box-shadow: 5px 5px 10px #333;
}

.link-to-comment {
    float: right;
}
