#image-to-modify {
    margin-left: 20px;
    max-width: 800px;
}

#image-title > .button {
    font-size: 10px
}


#separator {
    margin: 60px auto 10px auto;
    width: 960px;
}

#previous-link, #next-link {
    font-size: 20px;
    margin-top: 200px;
    font-weight: bold;
}

#previous-link a, #next-link a {
    color: #FFF !important; 
    -moz-text-shadow:  0px 3px 5px  @darkGrey;
    -webkit-text-shadow:  0px 3px 5px  @darkGrey;
    -o-text-shadow:  0px 3px 5px  @darkGrey;
    -ms-text-shadow:  0px 3px 5px  @darkGrey;
    text-shadow:  0px 3px 5px  @darkGrey;
}

#next-link {
    float: right;
    margin-right: 15px;
}

#previous-link {
    float: left;
}
