{% extends "SFMPicmntBundle::layout.html.twig" %}
{% block content %}

<h1>Dentro de la zona segura</h1>

{% trans 'Logged in as %username%' with { '%username%': app.user.getUsername() } from 'FOSUserBundle' %}
  
{% endblock %}

