{% extends "SFMPicmntBundle::layout.html.twig" %}
{% block content %}

<h1>Dentro de la zona segura</h1>

{{ 'Logged in as %username%' | trans({ '%username%': app.user.getUsername() }) }}
  
{% endblock %}

