{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block content %}

<section id="content" class="container">
  <div class="row">
    <div id="index-slide">


aaaa
    </div>
    
    <div class="span8 column">

      <a href="{{ path('img_show', {'option': 'random'}) }}"><h2>{{ 'Try' | trans }}</h2></a>

aaaa
    </div>
    <div class="span8 column">

      Vivamus euismod, lacus non condimentum dignissim, sem est ornare sem, sollicitudin malesuada nisi nisl a turpis. Maecenas feugiat lorem eget sem iaculis semper. Vestibulum ante ipsum pr
    </div>
  </div>
</section>
{% endblock %}
