
<div id="slider">
  <ul id="sliderContent">
    <li class="sliderImage round-box-with-shadow">
      

      <img src="{{ asset('bundles/sfmpicmnt/images/slide1.png')}}" class="round-box-with-shadow"/>
      <span class="top"><strong>Lorem ipsum dolor</strong><br />Consectetuer adipiscing elit. Donec eu massa vitae arcu laoreet aliquet.</span>
    </li>
    <li class="sliderImage box-with-shadow">
      <img src="{{ asset('bundles/sfmpicmnt/images/slide2.png')}}"  class="round-box-with-shadow"/>
      <span class="top"><strong>Praesent</strong><br />Maecenas est erat, aliquam a, ornare eu, pretium nec, pede.</span>
    </li>

    <div class="clear sliderImage round-box-with-shadow"></div>
  </ul>
</div>

