<div id="slider">
      <ul id="sliderContent">
        <li class="sliderImage box-with-shadow">

          <img src="http://s3slider-original.googlecode.com/svn/trunk/example_images/wide/1.jpg" class="box-with-shadow"/>
          <span class="top"><strong>Lorem ipsum dolor</strong><br />Consectetuer adipiscing elit. Donec eu massa vitae arcu laoreet aliquet.</span>
        </li>
        <li class="sliderImage box-with-shadow">
          <img src="http://s3slider-original.googlecode.com/svn/trunk/example_images/wide/2.jpg"  class="box-with-shadow"/>
          <span class="top"><strong>Praesent</strong><br />Maecenas est erat, aliquam a, ornare eu, pretium nec, pede.</span>

        </li>

        <li class="sliderImage box-with-shadow">
          <img src="http://s3slider-original.googlecode.com/svn/trunk/example_images/wide/3.jpg"  class="box-with-shadow"/>
          <span class="bottom"><strong>In hac habitasse</strong><br />Quisque ipsum est, fermentum quis, sodales nec, consectetuer sed, quam. Nulla feugiat lacinia odio.</span>
        </li>
        <li class="sliderImage box-with-shadow">
          <img src="http://s3slider-original.googlecode.com/svn/trunk/example_images/wide/4.jpg"  class="box-with-shadow"/>

          <span class="bottom"><strong>Fusce rhoncus</strong><br />Praesent pellentesque nibh sed nibh. Sed ac libero. Etiam quis libero.</span>

        </li>
        <li class="sliderImage box-with-shadow">
          <img src="http://s3slider-original.googlecode.com/svn/trunk/example_images/wide/5.jpg"  class="box-with-shadow"/>
          <span class="top"><strong>Morbi malesuada</strong><br />Vivamus molestie leo sed justo. In rhoncus, enim non imperdiet feugiat, felis elit ultricies tortor.</span>
        </li>

        <div class="clear sliderImage box-with-shadow"></div>
      </ul>
    </div>
