<div id="slider" class="box-with-shadow"> 
  <ul id="sliderContent" >
    <li class="sliderImage">
      <img src="{{ asset('bundles/sfmpicmnt/images/slide1.png')}}" class="box-with-shadow" />
      <span class="top"><strong>Muestra</strong><br />No te conformes con explicarlo, muestralo.</span>
    </li>
    <li class="sliderImage">
      <img src="{{ asset('bundles/sfmpicmnt/images/slide2.png')}}" class="box-with-shadow"/>
      <span class="top"><strong>Categorías</strong><br />Explora por una categoría o simplemente déjate llevar.</span>
    </li>

    <div class="clear sliderImage"></div>
  </ul>
</div>

