{% extends "SFMPicmntBundle::layout.html.twig" %}


{% block title %} | {{ 'Remember the password' | trans }}{% endblock %}

{% block content %}

<section id="request-password"  class="container container_12">

    <div class="clear">
    </div>

    <article class="grid_4 prefix_4">
      {% block fos_user_content %}
      <p>
	{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
      </p>
      {% endblock %}
    </article>

</section>      

{% endblock content %}


