{% extends "FOSUserBundle::layout.html.twig" %}


{% block content %}

<section id="content" class="container fos">
  <div class="row">
    
    <article class="span8 column" id="info-index">
      {% include "SFMPicmntBundle:Index:info.html.twig" %}
    </article>
    <article id="login-form" class="span8 column">
      {% block fos_user_content %}
      <p>
	{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
      </p>
      {% endblock %}
    </article>
  </div>
</section>      

{% endblock content %}


