{% form_theme form theme %}

{% block content %}

<section id="content" class="container fos">
  <div class="row">
    
    <article class="span6 column" id="info-index">
      {% include "SFMPicmntBundle:Index:info.html.twig" %}
    </article>
    <article id="login-form" class="span6 column">   
      <form class="well form-horizontal" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
	{{ form_widget(form) }}
	<div>
	  <div class="clearfix" style="text-align:right">
            <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}"/>
	  </div>
	</div>
      </form>
    </article>
  </div>
</section>      

{% endblock content %}


