{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block title %} | {{ 'Join' | trans }} {% endblock title %}

{% block content %}

<section id="request-password"  class="container container_12">

    <div class="clear">
    </div>

    <article class="grid_4 prefix_4">
      <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
    </article>
</section>
{% endblock content %}
