{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %} | {{ 'Join' | trans }} {% endblock title %}


{% block content %}
<section id="content" class="container fos">
  <div class="row">

    <article class="span6" id="info-index">
      {% include "SFMPicmntBundle:Index:info.html.twig" %}
    </article>

    <article class="span6">
      <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
    </article>
    
  </div>
</section>
{% endblock content %}
