{% extends "SFMPicmntBundle::base.html.twig" %}

{% block header %}
<header>
  <div class="container">
    <div class="row">
      <div class="span11 column">
	<a href="{{ path('home') }}" title="Picmnt"><img src="{{ asset('bundles/sfmpicmnt/images/Picmnt-logo.png') }}" /></a>
	
      </div>
      
      <div class="span5 column">
	{{ knp_menu_render('login', {'currentClass': 'active'}) }}
      </div>

    </div>
  </div>
</header>
{% endblock %}

