sfm_index:
    resource: "@SFMPicmntBundle/Controller/IndexController.php"
    type:     annotation
  
sfm_image:
    resource: "@SFMPicmntBundle/Controller/ImageController.php"
    type:     annotation

sfm_user:
    resource: "@SFMPicmntBundle/Controller/UserController.php"
    type:     annotation

sfm_comment:
    resource: "@SFMPicmntBundle/Controller/CommentController.php"
    type:     annotation
  

#fos_user_security:
#    resource: "@SFMUserBundle/Resources/config/routing/security.xml"

fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"

fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile

fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /change-password
