{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block title %} | About {% endblock title %}

{% block content %}
<section id="about" class="container">
  <div class="row">
    <h1 class="text-shadow">{{ 'About Us' | trans }}</h1>
  </div>
  
  <article class="row">
    <div class="span4" id="about-image">
      <img src="https://si0.twimg.com/profile_images/1632513746/2976162280_cff9793de5_m.jpg" />
    </div>
    <div class="span8">
      <h2>Moises Gallego</h2>
      <p>
	{{ 'At the moment I am the team, I am' | trans }} <strong>{{ 'Developer' | trans }}, sysadmin, CEO, CTO, SEO, ABC ... XYZ</strong>.
      </p>
      <p>
	<a href="http://twitter.com/moisesgallego">Twitter</a>
      </p>
    </div>

  </article>

  <article id="thanks" class="row">
    <br />
    <h1 class="text-with-shadow">Agradecimientos</h1>
    <h2>En la parte técnica, por echarme una mano cuando mas lo necesitaba</h2>
    <ul>
      <li><a href="https://twitter.com/#!/raulfraile">Raúl Fraile Beneyto</a></li>
      <li><a href="https://twitter.com/#!/pgodel">Pablo Godel</a></li>
      <li><a href="https://twitter.com/#!/adanlobato">Adán Lobato</a></li>
      <li><a href="https://twitter.com/#!/Osukaru80">Óscar Lopez</a></li>
      <li><a href="https://twitter.com/#!/mariotux">Mario Nunes</a></li>
      <li><a href="https://twitter.com/#!/Emper">César Saiz</a></li>
      <li><a href="https://twitter.com/#!/imobilis">Juan Traverso</a></li>
    </ul>
    <br />
    <h2>A los que han tenido que pegarse con la primera versión</h2>
    <ul>
      <li>Xuco Martin</li>
      <li>Marcos Lueje</li>
      <li>Marcos Bastida</li>
      <li>Bruno Ríos</li>
      <li>Miguel Angel Calle</li>
    </ul>
    <br />
    <h2>Y un agradecimiento especial a:</h2>
    <ul>
      <li>Isa, mi mujer. <strong>Por aguantar como he consumido mucho tiempo de estar juntos en este proyecto y por su apoyo</strong></li>
      <li>Alba, mi hija. <strong>Por portarse tan bien y haberme dejado trabajar :)</strong></li>
      <li><a href="https://twitter.com/#!/Osukaru80">Óscar.</a> <strong>Por ayudarme tanto técnica y teóricamente como por aguantarme horas por Gtalk</strong></li>
    </ul>	
  </article>

</section>
{% endblock content %}
