{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block title %} | {{ 'Terms of use' | trans }} {% endblock title %}


{% block stylesheet %}
{{ parent() }}	  

	{% stylesheets filter='lessphp, ?yui_css' output='css/picmnt.css' 
	            '@SFMPicmntBundle/Resources/public/less/static.less' %}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
	{% endstylesheets %}
	
{% endblock stylesheet %}


{% block content %}
<section id="terms" class="container container_12">
  <div class="row">
    <h1>{{ 'Terms of use' | trans }}</h1>
  </div>
  
  <div class="row">
    <p>
Picmnt ofrece a los miembros registrados la posibilidad de introducir textos, comentarios y fotografías para incorporarlos en las secciones correspondientes. La publicación de los comentarios y fotografías están sujetas a las presentes Condiciones de Uso. Si el miembro registrado no están de acuerdo con ellas, no deberán utilizar estos servicios.
    </p>
    <p>
      La persona identificada en cada caso como la que ha remitido la fotografía y/o publicado el texto o comentario, es la única responsable de los mismos, así como de asegurarse de que su inclusión en Picmnt cumple con las leyes que en cada caso puedan ser de aplicación. Los comentarios y/o fotografías, no reflejan la opinión de Picmnt. Del mismo modo, Picmnt no será responsable de cualquier error, inexactitud o irregularidad que puedan contener los textos, comentarios y/o fotografías.
    <p>
El usuario y/o miembro registrado está de acuerdo y tiene presente que no se aceptan anuncios, cadenas de mensajes de correo electrónico o cualquier otro contenido que no sea opinar o debatir sobre comentarios o fotografías. El usuario y/o miembro manifiesta su conformidad con estas Condiciones de Uso, comprometiéndose a no utilizar los servicios para enviar mensajes que difamen o insulten, o que contengan información falsa, que sea inapropiada, abusiva, dañina, pornográfica, amenazadora, dañando la imagen pública y/o la vida privada de terceras personas o que por cualquier causa infrinjan alguna ley.
    </p>
    <p>
En particular, y a título meramente indicativo y no exhaustivo, el usuario y/o miembro registrado se compromete a no captar datos con finalidad publicitaria, a no enviar ningún tipo de publicidad online y a no transmitir, difundir o poner a disposición de terceros a través de los servicios proporcionados por Picmnt, informaciones, mensajes, gráficos, archivos de sonido y/o imagen, fotografías, grabaciones, software y en general cualquier clase de material, datos o contenidos que: 
    </p>
    <p>
      1. de cualquier forma contravengan, menosprecien o atenten contra los derechos fundamentales y libertades públicas reconocidas constitucionalmente o en los tratados internacionales y en el resto del ordenamiento jurídico;
    </p>
    <p>
      2. induzcan, inciten o promuevan actuaciones delictivas, denigratorias, difamatorias o violentas;
    </p>
    <p>
    3. induzcan, inciten o promuevan actuaciones, actitudes o ideas discriminatorias por razón de sexo, raza, religión, creencias o edad;
    </p>
    <p>
      4. incorporen mensajes delictivos, violentos o degradantes;
    </p>
    <p>
      5. induzcan o inciten a involucrarse en prácticas peligrosas, de riesgo o nocivas para la salud y el equilibrio psíquico;
    </p>
    <p>
      6. sean falsos, ambiguos, inexactos, exagerados o extemporáneos, de forma que puedan inducir a error sobre su objeto o sobre las intenciones o propósitos del comunicante;
    </p>
    <p>
    7. sean contrarios al derecho al honor, a la intimidad personal y familiar o a la propia imagen de las personas;
    </p>
    <p>
      8. infrinjan la normativa sobre secreto de las comunicaciones;
    </p>
    <p>
      9. provoquen por sus características (como formato, extensión, etc.) dificultades en el normal funcionamiento de Picmnt;
    </p>
    <p>
El usuario y/o miembro registrado cede a Picmnt los derechos sobre los textos, comentarios y/o fotografías para su reproducción, uso, distribución y comunicación pública, en formato electrónico y digital, para su emplazamiento en las páginas web de picmnt.com, con el fin de que los demás usuarios y/o miembros registrados puedan acceder a los mismos. En todo caso se indicará siempre el nombre de autor con enlace. Cualquier otro uso de los contenidos será previamente consensuado con el autor.
    </p>
    <p>
      En este sentido, el usuario y/o miembro registrado suministrador declara ser el titular de los derechos sobre los comentarios y/o fotografías o, en su caso, garantiza que dispone de los derechos y autorizaciones necesarios del autor o propietario de los mismos, para su utilización y explotación en las webs de picmnt.com. En el supuesto de que el usuario y/o miembro registrado desconozca si dispone de los derechos para realizar la cesión a Picmnt, deberá abstenerse de incorporarlos en las secciones correspondientes. 
    </p>
    <p>
      Picmnt no se hará responsable, a no ser en aquellos extremos a los que obligue la Ley, de los daños o perjuicios que se pudieran ocasionar por el uso, reproducción, distribución o comunicación pública de los comentarios y/o fotografías que se encuentren protegidos por derechos de propiedad intelectual pertenecientes a terceros, sin que el haya obtenido previamente de sus titulares la autorización necesaria para llevar a cabo el uso que efectúa o pretende efectuar. En dicho caso, el usuario y/o miembro registrado acepta que será el único responsable ante cualquier reclamación por parte de un tercero que alegue disponer de derechos sobre los comentarios y/o fotografías. El usuario y/o miembro registrado mantendrá indemne a Picmnt ante cualquier reclamación económica, patrimonial o de cualquier otro tipo que realice el tercero en relación a cualquier uso no autorizado de los comentarios y/o fotografías. 
    </p>
    <p>
      Picmnt se reserva el derecho de retirar de forma unilateral los comentarios y/o fotografías albergadas en las diferentes secciones de la página Web picmnt.com, cuando así lo estime oportuno.
    </p>
    <p>
      Picmnt manifiesta de forma expresa que únicamente facilita espacio a los usuarios y/o miembros registrados para publicar comentarios y/o fotografías teniendo, a los efectos de la Ley 34/2002 de Servicios de la Sociedad de la Información y del Comercio Electrónico, la consideración de prestador de servicios de intermediación. De acuerdo con lo anterior, Picmnt no será responsable por la información enviada por el usuario y/o miembro registrado cuando no tenga conocimiento efectivo de que la misma es ilícita o de que lesiona bienes o derechos de un tercero susceptibles de indemnización. En el momento en que Picmnt tenga conocimiento efectivo de que aloja datos y/o información como la anteriormente referida, se compromete a actuar con diligencia para retirarlos o hacer imposible el acceso a ellos. 
    </p>
    
    <h2>Notificaciones</h2>
    <p>
      Como medio de notificación simple y rápido, además de los propios sistemas de aviso integrados para usuarios, en caso de no ser usuario del sitio, puede informarnos sobre un contenido para que sea revisado/eliminado de la siguiente manera:
    </p>
    <p>
      Incluya los siguientes datos:
    </p>
    <p>
    - Presentación y explicación del problema.
    </p>
    <p>
      - Dirección web exacta del contenido notificado (URL). 
    </p>
    <p>
      - Nick del usuario/s autor/es del contenido. 
    </p>
    <p>
      Puede enviar un email con esta información a la dirección de la página: report@picmnt.com
    </p>
  </div>

</section>
{% endblock content %}
