html{
    background:LightGrey;
}

#page{
    background:white;

}

#content { 
    Background:white;
    padding-top:30px;

}

footer{
    background:LightGrey;
    #margin-top:200px;
    padding-top:50;
}

footer #social{
    margin-top:-18px;
}