@import url("components.css");

body {
    background: #FFF;
}

#index-slide{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    height: 300px;
}

#index-slide-last, #index-slide-comment{
    margin-top: 1em;
    margin-bottom: 4em;
    padding: 1em;
    height: 300px;
}


#explain-video{
    border: 3px;
    padding: 1em 0 1em 0;
    text-align: center;
}

.box-with-shadow{
    background: lightgray;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

.white-box-with-shadow{
    background: white;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}


.round-box-with-shadow{
    background: #f3f1f1;
    border-radius: 20px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
}

#index-options-text{
    padding: 0.5em;
}

#index-most{
    margin-top: 2em;
    text-align: center;
}

#index-options p{
    font-size: 1.5em;
    text-align: center;
    padding: 1em 0 1em 0;
}

#index-options strong{
    color: green;
}

#show-image-register{
    font-size: 2.5em;
    margin: 1em 0 0 0;
    padding: 1em;
    
}

.img-thumbnail{
    width: 100px;
}

/* Header
----------------------------------------------------------------------------------------------------*/

header {
    	background: white url(../images/background.gif);
	padding: 15px 25px;
	height: 148px;
}

header h1 {
	float: left;
	margin: 0;
}

header h1 a {
	background: url("../images/Picmnt-logo.png");
	background-repeat: no-repeat;
	float: left;
	height: 148px;
	overflow: hidden;
	text-indent: -900px;
	width: 251px;
}


header nav {
    float: right;
    #margin: 10px -50px 0;
    #background: #FFF;
    #color: #000;
    
}

header nav a{
    color: #000;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 10px;
    float: rigth;
    overflow: visible;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

/*
header ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: right;
}

header li{
    display: inline;
    padding: 5px;
    
}
*/

header ul{
    width: 100%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;


}

header li {
   	paddig: 12px;
	margin: 12px;
	display: inline;
#	float: center;
}

.current a{background:#0069d6;color:#fff;text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);}

/* Footer
----------------------------------------------------------------------------------------------------*/

footer {
    
	background: white url(../images/background.gif);
	color: #000;
	margin-top: 0px;
	padding: 60px 0;
	height:300px; 
	/*padding-top: 30px;*/
}


footer ul{
    width: 100%;
    list-style-type: none;
    margin: 0 0 2em 0 auto;
    padding: 0;
    text-align: left;

}

footer li {
   	paddig: 12px;
	margin: 12px;
	display: block;
#	float: center;
	text-align: left;
	
}


footer #copyright{
    text-align: center;
    font-size: x-small;
    color: #8F8F8F;
}

footer #social{
    margin-top:-30px;
}


/* Content
--------------------------------------------------------------------------------------------------*/

#content{
    min-height: 400px;
}

    

#content .construction{
    text-align: center;

}

#content .login{
    width: 300px;
    float: center;
    background: #f3f1f1;
    padding: 5px 5px;
#    margin:  0 auto 0 auto;
    margin: auto;
    border: 1px solid #AAA;

}

#content .login legend{
    text-align: center;
    padding: 0px 10px 10px 0;
}

#content .login input{
    text-align: left;
    padding: .2em;
}

#content .login label{
   float: left;
   width: 40%;

}

#content .login submit{
    display: block;
    margin: 1em 0;

}

#content .login fieldset{
    float: left;
    width: 100%;
}

#content .slider-data{

    width: 3em;
    padding: 0 0 0 .5em;
    background-color: transparent;

}

#imageImage #image-to-modify, canvas{
    border: 10px solid white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #333;
    -webkit-box-shadow: 5px 5px 10px #333;
    -moz-box-shadow: 5px 5px 10px #333;
    
}

/* Register
_-------------------------------------------------------------------------------------------------*/

#register {
    padding-top: 50px;
    text-align: center;
}

#post_register{
    text-align: center;
    font-size: 2em;
}

#post_register h2{
    color: purple;
    font-size: 2em;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

#post_register .span8{
    background-color: #f3f1f1;
    border-radius: 1em;
    box-shadow: 5px 0px 10px rgba(0,0,0,0.5);
    margin-bottom: 150px;
    margin-top: 60px;
    padding: 50px 0 50px 0;
    
}

#post_register .span5:hover{
    font-size: 1.05em;
    margin-bottom: 150px;
    margin-top: 60px;
}

#user_edit{
    padding: 150px 0 150px 0;
}

#user_edit img{
    height: 150px;
    width: 150px;
    border: 3px black solid;
}

#profile {
    text-align: center;
}


/* General
_-------------------------------------------------------------------------------------------------*/

#separator{
    background: #fdfdfd;
    width: 100%;
    padding: 2px;


}

.fos{
    padding: 50px 100px 0 0;
}

.avatar-small{
    width: 50px;
    border: 0;
    border-radius: 0;
}

.avatar-large{
    width: 300px;
}

#info-index{

    font-size: 16px;
    text-align: center;

}

.text-shadow{
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

#about-image{
    text-align: center;
}

#about h1, #terms h1{
    text-align: center;
    margin-bottom: 2em;
}

.simple_paginator li{
    display: inline;
    padding: 0 2em ;
}

.simple_paginator .left, .simple_paginator .left_disabled{
    padding-right: 8em;
}

.simple_paginator .right, .simple_paginator .right_disabled{
    padding-left: 8em;
}

#remember-password{
    text-align: center;
}

#form-change-password{
    padding: 5em 0;
}

#profile-avatar{
    padding: 3em 0;
}

.btn-right{
    text-align: right;
}

.copyright{
    text-align: center;
    margin-top: 100px;
}

#upload-error ul li{
    color: black;
    padding: 0 0.5em;
}

legend{
    text-align:center;
    padding: 1em 0;
}

#upload-restrictions{
    padding: 2em;
}

#upload-restrictions p{
    font-size: 1.5em;
    text-align: center;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
}

#see-original, #edit-btn{
    margin: 0 1em;
}

#image-description{
    background: lightgray;
    padding: 0.5em 1.5em;
    border-radius: 5px;
}

.text-with-shadow{
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
}

#image-title h1 , #image-title h3{
    display: inline;
}

.comment-proposal{
    text-align: center;
    float: right;
    margin:  0.5em 0.5em;
}

.comment-pending{
    color: red;
    padding: 0 45%;
}

th{
    text-align: center;
}


#index-center{
    background: #2F4F4F;
}

#index-center-detail{
    padding-top: 5em; 
    font-family:Helvetica, sans, Arial;
    color: white;
}

#index-center-detail .text-shadow{
    color: white;
}

#index-content{
    background: white url(http://thehappybit.com/wp-content/themes/thb/img/background.gif);
    padding-top: 60px;
}

#index-description{
    margin-top:2.5em; 
    color:black;
}

#index-list li{
    color: white;
    font-size:2em;
    padding: 1em 0;
}
#index-list a {
    color: white;
}

#index-separator-top{
    background: -webkit-linear-gradient(black,  #2F4F4F);
    background: -moz-linear-gradient(black,  #2F4F4F);
    background: -o-linear-gradient(black,  #2F4F4F); 
    padding: 1em 0;
}

#index-separator-bot{
    background: -webkit-linear-gradient(#2F4F4F, black);
    background: -moz-linear-gradient(#2F4F4F, black);
    background: -o-linear-gradient(#2F4F4F, black); 
    padding: 1em 0;
}

#index-title{
    text-align: center;
}

#index-title-subtext{
    margin-top:0.25em;
}

#index-title-subtext p{
    font-family: Sans,  serif;
    color: #A9A9A9; 
    font-size: 2em; 
    text-align:center;
}

#most-comment{
    text-align: center;
}

#the-p, #the-icmnt{
    font-family: "Nimbus Roman No9 L", Sans,  serif;
    text-shadow:2px 2px 10px rgba(0, 0, 0, 0.50);
}

#the-p{
    font-size: 22em;
    color: DarkBlue;
}

#the-icmnt{
    font-size: 18em;
    color: black;
}

.footer-head{
    font-size:1.5em;
}

#mailchimp, #mailchimp label, #mailchimp h2{
    color: white;
    text-align: center;
}


