body {
    /* background: white url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/creampaper.png'); */
    background: whiteSmoke;
    font-family: 'Libre Baskerville', serif;
    /* font-family: "Nimbus Roman No9 L", Sans, serif; */
    font-size: 16px;
}

.picmnt-title a{
    font-size: 6em;
    color: rgba(0, 0, 0, 0.19);
    text-decoration: none !important;
} 

h1 {
    font-weight: normal !important;
}

#image-section {
    padding-top: 30px;
}

#image-section img, #image-section canvas {
    margin-left: 20px;
    border: 10px solid white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #333;
    -webkit-box-shadow: 5px 5px 10px #333;
    -moz-box-shadow: 5px 5px 10px #333;
}

#image-title {
    margin-top: 0;
    font-size: 3em;
}

.image-extra-info {
    margin-top: -20px;
    padding-left: 2em;
}

#image-info p {
    padding-bottom: 10px;
}

#separator {
    margin: 60px auto 10px auto;
    width: 960px;
}

#comments-title {
    text-align: center;
}

#comment-form .textarea {
    height: 150px;
    width: 400px;
    resize: none;
}

#comments {
    margin-top: 50px;
}

#comments h3 {
    text-align: center;    
}

.comment hr {
    margin-top: 20px;
}

.comment {
    margin-bottom: 60px;
}

.comment-text {
    margin-top: -10px;
    padding-left: 2em;
}

#login-menu {
    font-size: 0.8em;
    margin-top: 2em;
    text-align: right;
}

#login-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#login-menu ul li {
    display: inline;
    float:right;
}