{% set url = server ~ path('img_view', {'user': image.user.username, 'slug': image.slug}) %}
<article id="social-links" class="round-box-with-shadow">
<table>
  <tr>
    <td>
      {# TWITTER #}
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="Picmnt" data-lang="es" data-hashtags="fotografia">Twittear</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </td>
    <td>
      {# FACEBOOK #}

    <div class="fb-like"  data-send="false" data-layout="box_count" data-width="30" data-show-faces="false" data-font="arial"></div>

    </td>
    <td>
      {# G+ #}
      <!-- Coloca esta etiqueta donde quieras que se muestre el botón +1. -->
      <g:plusone size="tall" href="{{ url }}"></g:plusone>
      
      <!-- Coloca esta petición de presentación donde creas oportuno. -->
      <script type="text/javascript">
	window.___gcfg = {lang: 'es'};
	
	(function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
      </script>
    </td>
  </tr>
</table>
</article>
