{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block content %}

<img src="/uploads/avatarbig{{ asset(avatar) }}"/>

<form action="{{ path('usr_edit', { 'userId': userId }) }}" method="post" {{ form_enctype(form) }}>

{{ form_widget(form) }}

    <input type="submit" />

</form>

{% endblock %}

