{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block content %}


  <div class="clear"></div>


  <section id="profile" class="container container_12">

      <article id="profile-info" class="grid_4 img-box">
		  <span id="profile-avatar">
			  {% if existsAvatar(user.username) %}
	          <img src="{{ avatarByUsername(user.username,'big') }}" alt="avatar"/>
			  {% else %}
		      {% if gravatar_exists(getEmail(user.username)) %}
		      <img src="{{ gravatar(getEmail(user.username), 300) }}" />
		      {% else %}
		      <img src="{{ asset('/bundles/sfmpicmnt/images/default_user100x100.png') }}" alt="avatar"/>
		      {% endif %}
			  {% endif %}
		  </span>
		  <span id="profile-info">
			  <h2>{{ user.username }}</h2>
		  </span>
      </article>

      <article id="profile-images">
		  {% include "SFMPicmntBundle:Image:thumbs.html.twig" with {'images': user.images} %}
      </article>
  </section>

{% endblock %}

