{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block javascript %}
  {{ parent() }}


<script>

	{% if app.request.get('cat') == '' %}
	   var category = 'all';
	{% else %}
	   var category = "{{ app.request.get('cat') }}";
	{% endif %}

	{% if app.request.get('option') == '' %}
	   var option = 'recents';
	{% else %}
	   var option = "{{ app.request.get('option') }}";
	{% endif %}

	var username = '';

	var page = 0;

</script>

{% endblock javascript %}

{% block content %}
  {{ parent() }}
  <div class="clear"></div>

  <section>
      {% include "SFMPicmntBundle:Image:thumbs.html.twig" with {'images': images, 'loadMore': loadMore} %}
  </section>

{% endblock content %}
