{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block javascript %}
  {{ parent() }}

{% endblock javascript %}

{% block content %}
  {{ parent() }}

  <div class="clear"></div>

  <section id="image-section"  class="container container_12">
    {% include "SFMPicmntBundle:Image:thumbs.html.twig" with {'images': images} %}
  </section>

{% endblock content %}
