<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Picmnt{% block title %}{% endblock %}</title>

	{% block meta %}

      {% endblock meta %}


      <link href="/favicon.ico" rel="shortcut icon">

      {% block stylesheet %}

	{% stylesheets filter='?yui_css' output='css/libs.css' 
          '@SFMPicmntBundle/Resources/public/stylesheets/fluid_grid.css' %}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
	{% endstylesheets %}

	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->

	{% endblock stylesheet %}
	  
	{% block javascript %}
	  <script src="http://code.jquery.com/jquery.min.js"></script>
	{% endblock javascript %}

	{% block scripts %}

        {% endblock scripts %}
    </head>

    <body>
      {% block header %}

      {% endblock header %}

      {% block content %}
      
      {% endblock %}

    </body>

</html>
