<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Picmnt{% block title %}{% endblock %}</title>


    <link href="/favicon.ico" rel="shortcut icon">

    {% block stylesheet %}
    {% stylesheets '@SFMPicmntBundle/Resources/public/stylesheets/bootstrap.min.css'
                   '@SFMPicmntBundle/Resources/public/stylesheets/layout.css'
                   '@SFMPicmntBundle/Resources/public/jqueryUI/css/custom-theme/jquery-ui-1.8.13.custom.css'
                   filter='yui_css' %}
   <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
   {% endstylesheets %}


   {% endblock %}

    {% block javascript %}
    <script src="http://code.jquery.com/jquery-1.7.1.min.js" />
    
    {% javascripts '@SFMPicmntBundle/Resources/public/js/bootstrap/*'
                   '@SFMPicmntBundle/Resources/public/fancybox/jquery.fancybox-1.3.4.pack.js'
                   '@SFMPicmntBundle/Resources/public/js/picmnt.js'
                   '@SFMPicmntBundle/Resources/public/jqueryUI/js/jquery-ui-1.8.13.custom.min.js'
                   filter='yui_js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% endblock javascript %}

    {% block scripts %}
    {% endblock scripts %}
    
  </head>
  <body>
    {% block header %}header here{% endblock %}
    {% block menu %}{% endblock %}
    {% block fos_user_content %}{% endblock fos_user_content %}
    {% block content %}content here{% endblock %}
    {% include 'SFMPicmntBundle::footer.html.twig' %}
  </body>
</html>
