<footer style="height:90px; padding-top: 30px">
  <div class="container">

    <div class="container">
      <div class="row">
	<div class="span4 column offset6">
	  <center>
	    © Moisés Gallego 2011
	  </center>
	</div>

	<div class="span4 column offset2">
	  <div id="social">
	    <a href="https://twitter.com/picmnt"><img src="{{ asset('bundles/sfmpicmnt/images/twitter.png')}}" />
	      <a href="http://www.facebook.com/pages/Picmnt/155336231201638"><img src="{{ asset('bundles/sfmpicmnt/images/facebook.png')}}" /></a>
	  </div>

	</div>
      </div>
    </div>

</footer>
