<footer style="height:90px; padding-top: 30px">
  <div class="container">

    <div class="container">
      <div class="row">

	<div class="span-one-third">
	  <ul>
	    <li><a href="{{ path('static_page', {'page': 'about'}) }}">{{ 'About Us' | trans }}</a></li>
	    <li><a href="#">FAQs</a></li>
	  </ul>
	</div>

	<div class="span-one-third">
	  <ul>
	    <li><a href="#">{{ 'Terms of use' | trans }}</a></li>
	    <li><a href="#">{{ 'Privacy' | trans }}</a></li>
	  </ul>
	</div>


	<div class="span-one-third">
	  <ul>
	    <li><a href="https://twitter.com/picmnt">Twitter</a></li>
	    <li><a href="http://www.facebook.com/pages/Picmnt/155336231201638">Facebook</a></li>
	  </ul>
	</div>

      </div>
      <div class="row">
	<div class="span4 column offset6">
	  <center>
	    © Moisés Gallego 2011
	  </center>
	</div>
      </div>
    </div>

</footer>
