{% extends "SFMPicmntBundle::base.html.twig" %}

{% block header %}
{{ parent() }}

<header>
    <nav class="navbar navbar-fixed-top">

		<div class="navbar-inner">
			<a class="brand" href='{{ path("home") }}' title="Picmnt"> 
				<span class="p-letter">P</span><span class="icmnt-word">icmnt</span>
			</a>
			{{ knp_menu_render('SFMPicmntBundle:MainMenuBuilder:mainMenu', {'allow_safe_labels': true, 'currentClass': 'active', 'currentAsLink': true}) | raw}}
			{{ knp_menu_render('SFMPicmntBundle:MainMenuBuilder:loginMenu', {'allow_safe_labels': true, 'currentClass': 'active', 'currentAsLink': true}) | raw}}
    </nav>
</header>
{% endblock header %}
